* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #a4b2f9;
  --main-color2: rgb(94, 119, 244);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  font-family: sans-serif;
  min-height: 100vh;
}

button {
  all: unset;
  cursor: pointer;
}

.main-container {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
  width: 100%;
  max-width: 800px;
}

.title {
  font-weight: bold;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.generate-btn {
  background-color: var(--main-color);
  color: white;
  padding: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border: 1px solid var(--main-color);
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.generate-btn:hover {
  background-color: var(--main-color2);
}

.color-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}
.color-box {
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.3);
  overflow: hidden;
  height: 135px;
}
.color {
  height: 80%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.color-info {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.color-name {
  font-size: 0.8rem;
  font-weight: 500;
}
